.tab {
    /*-fx-background-insets: 0, 1, 2;*/
    /*-fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0; !* eckig *!*/
    -fx-background-color: tab-background ;
    tab-background: white ;
}
.tab .tab-close-button {
    -fx-background-color: ladder(tab-background, white 49%, black 50%);
    -fx-cursor: hand;
}

.tab .tab-label {
    -fx-text-fill: ladder(tab-background, white 49%, black 50%);
}
.button:hover {
    -fx-font-weight: bold;
}
.button:hover {
    -fx-font-weight: bold;
    -fx-cursor: hand;
}